body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    height: 100%;
    max-width: 1440px;
}

/*Стили для header*/
.header {
    display: flex;
    flex-direction: column;
    height: 2.09%;
    width: 100%;
}

.header__user-tabs {
    display: flex; 
    height: 34.86%;
    min-height: 38px;
    padding-left: 60px;
    background-color: rgba(255, 170, 76, 1);
}

.button-business_header{
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(24, 24, 24, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    width: 168px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    color: rgba(255, 255, 255, 1);
}

.button_customers_header{
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(255, 170, 76, 1);
    border: none;
    width: 185px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: center;
    color: rgba(0, 0, 0, 1); 
}

.header__head {
    display: flex;
    justify-content: space-between;
    background-color: rgba(24, 24, 24, 1);
    max-height: 71px;
    height: 65.14%;
    padding-left: 60px;
    padding-right: 60px;

}

.logo_header {
    display: flex;
    align-items: center;
}

.logo__img_header {
    display: flex;
    height: 51.83px;
    width: 51.83px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.logo__name_header{
    display: flex;
    justify-content:center;
    margin-top: 6.85px;
    margin-bottom: 7.02px;
    margin-left: -3.5px;
    font-family: 'Outfit';
    font-size: 37px;
    font-weight: 600;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.button-contact_head {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
    background: rgba(149, 76, 237, 1);
    border-radius: 16px;
    border: none;
    width: 182px;
    height: 57px;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}

/*Стили для main*/

.main {
    display: flex;
    flex-direction: column;
    min-height: 4911px;
}

.section-influencer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 64px;
    min-height: 591px;
    background: rgba(24, 24, 24, 1);
}

.section-influencer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 82px;
    margin-left: 110px;
    min-width: 671px;
    max-height: 369px;
}

.section-influencer__headline {
    margin: 0;
    margin-bottom: 20px;
    min-width: 671px;
    min-height: 204px;
    font-family: 'Outfit';
    font-size: 96px;
    font-weight: 700;
    line-height: 101.76px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-variant-ligatures: none;
}

.section-influencer__text {
    margin: 0;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.button-contact_section-influencer {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    gap: 14px;
    background: rgba(149, 76, 237, 1);
    border-radius: 16px;
    border: none;
    width: 182px;
    height: 57px;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}

.section-influencer__img {
    margin-top: 62px;
    
}

.divider {
    min-height: 100px;
    background: rgba(24, 24, 24, 1);
}

.section-about {
    
    min-height: 953px;
    background: rgba(24, 24, 24, 1);
}
.section-iphone {
    
    min-height: 636px;
    background: rgba(24, 24, 24, 1);
}
.section-statistics {
    
    min-height: 222px;
    background: rgba(24, 24, 24, 1);
}
.section-why-budss {
    
    min-height: 1192px;
    background: rgba(24, 24, 24, 1);
}
.section-grow-business {
    
    min-height: 1017px;
    background: rgba(245, 245, 245, 1);
}

/*Стили для footer*/
.footer {
    display: flex;
    flex-direction: column;
    min-height: 188px;
    margin: 0 auto;
    background: rgba(24, 24, 24, 1);
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
}

.footer__content-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 126px;
}

.logo-footer {
    display: flex;
    align-items: center;
    height: 57px;
    width: 155px;
}

.logo__img_footer {
    display: flex;
    height: 51.83px;
    width: 51.83px;
    
}

.logo__name_footer {
    margin: 0;
    display: flex;
    justify-content:center;
    font-family: 'Outfit';
    font-size: 37px;
    font-weight: 600;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.footer__user-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.button-business_footer {
    padding: 0;
    background: rgba(24, 24, 24, 1);
    border: none;
    font-family: 'Outfit';
    font-size: 20px;
    line-height: 25.2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}

.button_customers_footer {
    padding: 0;
    background: rgba(24, 24, 24, 1);
    border: none;
    font-family: 'Outfit';
    font-size: 20px;
    line-height: 25.2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}

.button-contact_footer {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 14px;
    background: rgba(149, 76, 237, 1);
    border-radius: 16px;
    border: none;
    width: 182px;
    height: 57px;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}

.footer__download-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__button-appstore_desktop {
    margin: 0;
    padding: 0;
    width: 194px;
    height: 57px;
    border: none;
    background: rgba(24, 24, 24, 1);
}

.footer__button-googleplay_desktop {
    margin: 0;
    padding: 0;
    width: 194px;
    height: 57px;
    border: none;
    background: rgba(24, 24, 24, 1);
}

.user-agreement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 60px;
    margin-top: 30px;
    margin-right: 60px;
    min-height: 40px;
    
    border-top: 2px solid rgba(68, 68, 68, 1);
   
}

.user-agreement__copyright {
    margin: 0;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.6px;
    text-align: left;
    color: rgba(185, 185, 185, 1);
}

.user-agreement__privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.user-agreement__url {
    font-family: Outfit;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.6px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: rgba(185, 185, 185, 1);
}